.report {
	border: 1px solid;
    padding: 10px;
	border-collapse: collapse;
}

.report-card {
	border-bottom: 1px solid
}

.report-card:last-child {
	border-bottom: none
}

.report-column {
    padding: 10px;
}

td.value-column {
	vertical-align: top;
}

.report-action,
.action-button {
	width: 100%
}
