{{#*inline "reportField"}}
					<div class="report-field">
						<span class="param-label">{{name}}: </span>
						<span class="param-value">{{value}}</span>
					</div>
{{/inline}}
{{#*inline "reportAction"}}
					<div class="report-action">
						<input type="button" class="action-button" value="{{name}}" onclick="performAction('{{id}}', '{{action}}')"/>
					</div>
{{/inline}}

<h1>Reports</h1>
<table class="report">
	<tbody>
	  {{#each reports}}
		  {{#each elements}}
			<tr class="report-card" message-id="{{id}}">
				<td class='report-column value-column'>
					{{> reportField name='Id' value=id}}
					{{> reportField name='State' value=state}}
					<div class="report-details">
						<a href="#">Details</a>
					<div>
				</td>
				<td class='report-column value-column'>
					{{> reportField name='Type' value=payload.reportType}}
					{{> reportField name='Message' value=payload.message}}
				</td>
				<td class='report-column action-column'>
					{{> reportAction id=id name='Block' action='block'}}
					{{> reportAction id=id name='Resolve' action='resolve'}}
				</td>
			</tr>
		  {{/each}}
	  {{/each}}
	</tbody>
</table>
<script type="text/javascript">
	function performAction(messageId, action) {
		var method;
		if (action === "block")
			method = 'REPORT';
		if (action === "resolve")	
			method = 'PUT';
		
		if (!messageId || !method) {
			throw new Error("Invalid operation");
		}
		
		$.ajax({
			  method: method,
			  url: "/reports/" + messageId,
			  data: { ticketState: "CLOSED" },
			  error: (jqXHR, textStatus, errorThrown) => {
				alert( "Server returned an error: " + (errorThrown || textStatus));
			  }
		})
		.done(function( msg ) {
			$(".report-card[message-id='" + messageId + "']").remove();
		});	
	}
</script>
