<html>
    <head>
        <title>Example Full-Stack Challenge</title>
		<link rel="stylesheet" type="text/css" href="public/main.css"/>
		<script src="public/jquery-3.4.1.min.js" type="text/javascript"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>